.tpd-converter-container{
    background-color: #23282d;
    color: #fff;
    padding:16px;
}
.tpd-converter-container h1{
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
}
.tpd-converter-container .dashicons{
    position: relative;
    font-size: 30px;
    height: auto;
    width: auto;
    margin-right: 5px;
}
.tpd-converter-container .dashicons-migrate{
    margin-right: -15px;
    z-index: 5;
}
.tpd-converter-container .dashicons-screenoptions{
    color: #11a0d2;
}
.tpd-converter-actions {
    display: flex;
}
.tpd-converter-actions #scan-content{
    margin-right:15px;
}
#tpd-converter-modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    /* padding-left: 20px; */
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 99;
}
div#tpd-converter-status-container {
    display: block;
    background-color: #23282d;
    width: 100%;
    max-width: 500px;
    padding: 25px 25px 50px;
    color: #fff;
}
#tpd-converter-status{
    display: block;
    position: relative;
    height: 15px;
    width: 100%;
    max-width: 980px;
    margin: auto;
    background-color: #dcdcdc;
    overflow: hidden;
}

#tpd-converter-precentage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #00b9eb;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
}
#tpd-converter-status-message div.error{
    color: #000;
}
#tpd-converter-cancel{
    margin-top: 35px;
}
#checkmark-complete{
    display: none;
    max-width: 100px;
}
.button.button-remove {
    color: white;
    background-color: #DE3C3C;
    border-color: #C00000;
    box-shadow: 0 1px 0 #C10100;
}
.button.button-remove:hover, 
.button.button-remove:focus {
    border-color: #C00;
    color: #FFF;
    background: #C00;
}
.button.button-success{
    color: white;
    background-color: #4EB54F;
    border-color: #4EB54F;
    box-shadow: 0 1px 0 #4EB54F;
}
.button.button-success:hover, 
.button.button-success:focus {
    border-color: #4EB54F;
    color: #FFF;
    background: #4EB54F;
}
tr.is_gutenberg * {
    pointer-events: none;
    opacity: 0.8;
    color: #000;
}

/** ANIMATIONS **/
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #00b9eb;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  